@import '~@edx/paragon/scss/core/core';
@import 'assets/variables';

/* Layout */

.main-layout {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height - $footer-height);
  background-color: $background-color;
}

.main-layout::before {
  position: absolute;
  top: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: clamp(250px, 28vw, 380px);
  background-image: url('../../assets/svg/Curve.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

.section-content {
  display: flex;
  flex: 1;
  width: 100%;
  padding: .4em;
}

.div-filters {
  width: 350px;
  margin-right: 1em;
  padding: 1em 1em 0;
}

.div-results {
  flex: 1;
}

/* Filter bar */

.search-bar-container {
  overflow: hidden;
  position: relative;
  min-height: clamp(220px, 28vw, 380px);

  & h2, p {
    color: $white;
  }

  & h2 {
    font-weight: 400;
  }

  & p {
    font-weight: 200;
    margin-bottom: 25px;
  }
}

.search-bar-background  {
  width: 100%;
}

.search-input-container {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 55%;
}

.search-submit-button {
  background-color: transparent;
  color: $background-color-purple;
  border: none;
  border-left: 1px solid $neutral-500;
}

.search-clear-button {
  border: none;
  background-color: $neutral-700;
  color: $white;
  border-radius: 50%;
  font-size: 10px;
  margin-right: 10px;
}

.search-disabled {
  opacity: .4;
  cursor: not-allowed;
}

.search-enabled {
  opacity: 1;
  cursor: pointer;
}

/* Catalog filters */

.catalog-filters-container {
  width: 100%;

  .divider {
    border: 0;
    border-top: 1px solid $color-divider;
    margin: 1.5em 0;
  }

  .active-filters-chips {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;

    .pgn-chip {
      background-color: $color-chip-bg;
      color: $color-chip-text;
      font-weight: 500;
    }
  }
}

/* Filters */

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-collapsible {
  font-weight: 300;
  color: $black-2;

  .collapsible-trigger {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-decoration: none !important;
    color: $neutral-800 !important;

    .collapsible-icon {
      font-size: 10px !important;
    }
  }
}

.h4-filter-by {
  color: $neutral-800 !important;
}

.button-clear-filters {
  color: $neutral-500 !important;
}

.button-display-toggle {
  width: fit-content;
  color: $background-color-purple !important;
}

/* Checkbox */

.checkbox-option {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  left: 3px;
  font-size: 12px;
  color: $color-white;
}

.pgn__form-checkbox-input {
  margin-right: 10px;
  border-width: 1.5px;
  border-radius: 4px !important;
  border-color: $black-3;

  &:checked {
    background-image: none !important;
    background-color: $background-color-purple !important;
    border-color: $background-color-purple !important;
  }
}

/* Chips */

.pgn__chip {
  padding: 0 10px;
  border-radius: 20px !important;
  background-color: $complementary-100 !important;

  &__label {
    font-weight: 600;
    color: $background-color-purple !important;
  }

  &__icon-after {
    .pgn__icon {
      width: 10px !important;
      color: $black-3 !important;
    }

    &:hover {
      background-color: $color-transparent !important;
    }
  }
}

/* Mobile */

.mobile-filters {
  margin-bottom: 1.5em;

  .collapsible-card {
    border: 1px solid $color-divider;
    border-radius: 8px;
    background-color: $color-white;
    overflow: hidden;
  }

  .collapsible-trigger {
    padding: 1em;
    font-weight: 600;
    background-color: $color-white;

    &:hover {
      background-color: $color-hover-bg;
    }
  }
}

.filter-mobile-icon {
  span {
    color: $neutral-700;
  }

  i {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: rgba($purple-800, 10%);
    color: $purple-800;
  }
}

.span-filter-counter {
  margin-right: 20px;
  font-weight: 400;
  color: $primary-800;
}

.react-select__menu {
  position: relative !important;
}

/* Responsive */

// mobile + tablet
@media (width < map-get($grid-breakpoints, md)) {
  .section-content {
    flex-direction: column;
  }

  .main-layout::before {
    background-position: top right;
  }

  .search-input-container {
    top: 30px;
    left: 0;
    width: 100%;
    padding-right: 1em;
    padding-left: 1em;
  }

  .div-filters {
    width: 100%;
    margin: 0 0 1em;
    display: flex;
    justify-content: flex-end;
  }

  .desktop-filters,
  .filters-separator,
  .filter-collapsible {
    display: none;
  }

  .mobile-filters .collapsible-icon {
    display: none;
  }
}

// tablet
@media (
  map-get($grid-breakpoints, sm)
  <= width
  <= map-get($grid-breakpoints, md)
) {
  .catalog-filters-container {
    width: 50%;
  }

  .search-input-container {
    padding-top: 2em;
    padding-left: 3em;
  }
}

// desktop
@media (width >= map-get($grid-breakpoints, md)) {
  .basic-multi-select,
  .mobile-filters {
    display: none;
  }

  
  .main-layout::before {
    background-size: 100% auto;
    background-position: top center;
  }
}

@media (width >= map-get($grid-breakpoints, lg)) {
  .search-input-container {
    max-width: 35%;
  }

  .main-layout::before {
    background-position: top center;
  }
}

@media (width >= 1970px) {
  .main-layout::before {
    background-position: bottom center;
  }
}
