/* Layout */
$header-height: 76px;
$footer-height: 142px;

.main-layout {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - $header-height - $footer-height);
  background-color: var(--pgn-color-gray-vue-010);
}

.main-layout::before {
  position: absolute;
  top: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: clamp(250px, 28vw, 380px);
  background-image: url('../../assets/svg/Curve.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

.section-content {
  display: flex;
  flex: 1;
  width: 100%;
  padding: .4em;
}

.div-filters {
  width: 350px;
  margin-right: 1em;
  padding: 1em 1em 0;
}

.div-results {
  flex: 1;
}

/* Filter bar */

.search-bar-container {
  overflow: hidden;
  position: relative;
  min-height: clamp(220px, 28vw, 380px);

  & h2, p {
    color: var(--pgn-color-white);
  }

  & h2 {
    font-weight: 400;
  }

  & p {
    font-weight: 200;
    margin-bottom: 25px;
  }
}

.search-bar-background  {
  width: 100%;
}

.search-input-container {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 55%;
}

.search-submit-button {
  background-color: transparent;
  color: var(--pgn-color-primary-base);
  border: none;
  border-left: 1px solid var(--pgn-color-gray-vue-350);
}

.search-clear-button {
  border: none;
  background-color: var(--pgn-color-gray-vue-700);
  color: var(--pgn-color-white);
  border-radius: 50%;
  font-size: 9px;
  margin-right: 10px;
  width: 22px;
}

.search-disabled {
  opacity: .4;
  cursor: not-allowed;
}

.search-enabled {
  opacity: 1;
  cursor: pointer;
}

/* Catalog filters */

.catalog-filters-container {
  width: 100%;

  .divider {
    border: 0;
    border-top: 1px solid var(--pgn-color-gray-vue-300);
    margin: 1.5em 0;
  }

  .active-filters-chips {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;

    .pgn-chip {
      background-color: var(--pgn-color-primary-100);
      color: var(--pgn-color-primary-base);
      font-weight: 500;
    }
  }
}

/* Filters */

.filter-list {
  display: flex;
  flex-direction: column;
}

.filter-collapsible {
  font-weight: 300;
  color: var(--pgn-color-black);

  .collapsible-trigger {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    text-decoration: none !important;
    color: var(--pgn-color-gray-vue-800) !important;

    .collapsible-icon {
      font-size: 10px !important;
    }
  }
}

.h4-filter-by {
  color: var(--pgn-color-gray-vue-800) !important;
}

.button-clear-filters {
  color: var(--pgn-color-gray-vue-350) !important;
}

.button-display-toggle {
  width: fit-content;
  color: var(--pgn-color-primary-base) !important;
}

/* Checkbox */

.checkbox-option {
  position: relative;
}

.checkbox-icon {
  position: absolute;
  left: 5px;
  font-size: 12px;
  color: var(--pgn-color-white);
}

.pgn__form {
  &-label {
    white-space: nowrap;
  }
}

.pgn__form-group .form-control {
  height: var(--pgn-size-form-input-height-base) !important;
}

.pgn__form-checkbox-input {
  margin-right: 10px;
  border-width: 1.5px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px !important;
  border-color: var(--pgn-color-gray-vue-700);

  &:focus {
    border-radius: 100px;
    border-color: var(--pgn-color-black) !important;
  }
  
  &:focus::before {
    filter: blur(1px);
    border-color: var(--pgn-color-primary-base) !important;
    border-radius: 50% !important;
    width: 170%;
    height: 170%;
    top: -7px !important;
    left: -7px !important;
  }

  &:checked {
    background-image: none !important;
    background-color: var(--pgn-color-primary-base) !important;
    border-color: var(--pgn-color-primary-base) !important;
  }
}

/* Chips */

.pgn__chip {
  padding: 0 10px;
  border-radius: 20px !important;
  background-color: var(--pgn-color-green-vue-050) !important;

  &__label {
    font-weight: 600;
    color: var(--pgn-color-primary-base) !important;
  }

  &__icon-after {
    position: relative;
    top: -1px;
    left: 3px;

    .pgn__icon {
      font-size: 15px;
      width: 10px !important;
      color: var(--pgn-color-gray-vue-700) !important;
    }

    &:hover {
      background-color: transparent !important;
    }
  }
}

/* Pagination */

.pagination-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0;
  padding: 1em;
  background-color: var(--pgn-color-white);
  border-top: 1px solid var(--pgn-color-gray-vue-300);
}

.form-select {
  border: none;
  margin-left: 10px;
}

ul.pagination {
  margin-bottom: 0 !important;
}

/* Mobile */

.mobile-filters {
  margin-bottom: 1.5em;

  .collapsible-card {
    border: 1px solid var(--pgn-color-gray-vue-300);
    border-radius: 8px;
    background-color: var(--pgn-color-white);
    overflow: hidden;
  }

  .collapsible-trigger {
    padding: 1em;
    font-weight: 600;
    background-color: var(--pgn-color-white);

    &:hover {
      background-color: var(--pgn-color-gray-vue-100);
    }
  }
}

.filter-mobile-icon {
  span {
    color: var(--pgn-color-gray-vue-700);
  }

  i {
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: rgb(var(--pgn-color-purple-vue-800) / .1);
    color: var(--pgn-color-purple-vue-800);
  }
}

.span-filter-counter {
  margin-right: 20px;
  font-weight: 400;
  color: var(--pgn-color-primary-800);
}

.react-select__menu {
  position: relative !important;
}

/* Responsive */

// mobile + tablet
@media screen and (width <= 767px) {
  .section-content {
    flex-direction: column;
  }

  .main-layout::before {
    background-position: top right;
  }

  .search-input-container {
    top: 30px;
    left: 0;
    width: 100%;
    padding-right: 1.4em;
    padding-left: 1.4em;
  }

  .div-filters {
    width: 100%;
    margin: 0 0 1em;
    display: flex;
    justify-content: flex-end;
  }

  .desktop-filters,
  .filters-separator,
  .filter-collapsible {
    display: none;
  }

  .mobile-filters .collapsible-icon {
    display: none;
  }

  .div-results {
    padding: 1em;
  }
}

// tablet
@media screen and (576px <= width <= 767px) {
  .catalog-filters-container {
    width: 50%;
  }

  .search-input-container {
    top: -10px;
    left: 0;
    padding-top: 2em;
    padding-left: 3em;
  }
}

// desktop
@media screen and (width >= 768px) {
  .basic-multi-select,
  .mobile-filters {
    display: none;
  }

  .main-layout::before {
    background-size: 100% auto;
    background-position: top center;
  }
}

@media screen and (width >= 992px) {
  .search-input-container {
    max-width: 35%;
  }

  .main-layout::before {
    background-position: top center;
  }

  .section-content {
    max-width: 1900px;
    margin: 0 auto;
    padding: 0 5em;
  }
}

@media screen and (width >= 1970px) {
  .main-layout::before {
    background-position: bottom center;
  }

  .section-content {
    padding: 0;
  }

  .div-filters {
    margin-right: 5em;
  }
}
