$border-radius: 8px;

.course-card {
  $image-size-height: 100px;
  $image-size-width: 150px;

  height: 150px;
  border-radius: $border-radius;
  background: var(--pgn-color-white);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1em;
  border: 1px solid var(--pgn-color-gray-vue-200);

  &__image {
    width: $image-size-width;
    height: $image-size-height;
    background: var(--pgn-color-gray-vue-250);
    display: flex;
    align-items: center;
    justify-content: center;

    &-skeleton {
      width: $image-size-width !important;
      height: $image-size-height;
      top: -4px;
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: $border-radius;
      min-width: $image-size-width;
      min-height: $image-size-height;
      max-height: $image-size-height;
      max-width: $image-size-width;
      object-fit: cover;
    }
  }

  &__image-fallback {
    border-radius: $border-radius;
    width: $image-size-width;
    height: $image-size-height;
    background: var(--pgn-color-gray-vue-275);
    background-image: url('../../../../assets/svg/course-card-fallback.svg');
    background-size: cover;
    background-clip: content-box;
  }

  &__content {
    padding: 16px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 75%;
  }

  &__vendor {
    font-size: 12px;
    color: var(--pgn-color-gray-vue-700);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    color: var(--pgn-color-primary-base);
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
    word-break: break-word;
    border: none;
  }

  &__title:hover {
    color: var(--pgn-color-primary-base);
  }

  &__meta {
    font-size: 14px;
    font-weight: 200;
    color: var(--pgn-color-gray-vue-700);
  }

  &__button.btntpz.btn-primary {
    width: 100%;
    background: var(--pgn-color-yellow-vue-300);
    color: var(--pgn-color-black);
    border-color: transparent;

    &:hover {
      background: var(--pgn-color-yellow-vue-500);
      border-color: transparent;
      color: var(--pgn-color-white);
    }

    &:active {
      background-color: var(--pgn-color-yellow-vue-500) !important;
      border: none;
    }

    @media screen and (width >= 1200px) {
      width: 25%;
    }
  }
}

@media screen and (width <= 768px) {
  .course-card {
    flex-direction: column;
    height: auto;

    &__image {
      $image-size-width: 185px;
      $image-size-height: 130px;

      height: $image-size-height;
      width: $image-size-width;

      &-fallback {
        width: $image-size-width;
        height: $image-size-height;
      }

      &-skeleton {
        width: $image-size-width !important;
        height: $image-size-height;
      }

      img {
        max-width: $image-size-width;
        max-height: $image-size-height;
      }
    }

    &__content {
      margin-top: 12px;
      width: 100%;
      padding: 12px;
    }

    &__title {
      white-space: normal;
    }

    &__button.btntpz {
      width: 100%;
    }
  }
}

@media screen and (768px <= width <= 1199px) {
  .course-card {
    flex-direction: column;
    height: auto;
    align-items: flex-start;

    &__title {
      white-space: normal;
      overflow: visible;
      max-width: none;
    }

    &__vendor {
      margin-top: 1em;
    }

    &__button.btntpz {
      width: 100%;
    }
  }
}
