@import '~@edx/paragon/scss/core/core';
@import 'assets/variables';

.course-card {
  $image-size-height: 100px;
  $image-size-width: 150px;

  height: 150px;
  border-radius: 12px;
  background: $color-white;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 1em;
  border: 1px solid $neutral-100;

  &__image {
    width: $image-size-width;
    height: $image-size-height;
    background: $neutral-200;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      max-height: $image-size-height;
      max-width: $image-size-width;
      object-fit: cover;
    }
  }

  &__image-fallback {
    border-radius: 6px;
    width: $image-size-width;
    height: $image-size-height;
    background: $neutral-300;
    background-image: url('../../../../assets/svg/course-card-fallback.svg');
    background-size: cover;
    background-clip: content-box;
  }

  &__content {
    padding: 16px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 75%;
  }

  &__vendor {
    font-size: 12px;
    color: $black-3;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0;
    color: $background-color-purple;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 700px;
  }

  &__meta {
    font-size: 14px;
    font-weight: 200;
    color: $neutral-700;
  }

  &__button.btntpz {
    width: 25%;
    background: $color-button-bg;
    color: $black-2;
    border-color: transparent;

    &:hover {
      background: $color-button-bg-hover;
      border-color: transparent;
    }
  }
}

@media (width <= map-get($grid-breakpoints, md)) {
  .course-card {
    flex-direction: column;
    height: auto;

    &__image {
      $image-size-width: 185px;
      $image-size-height: 130px;

      height: $image-size-height;
      width: $image-size-width;

      img {
        max-width: $image-size-width;
        max-height: $image-size-height;
      }
    }

    &__content {
      margin-top: 12px;
      width: 100%;
      padding: 12px;
    }

    &__title {
      white-space: normal;
    }

    &__button.btntpz {
      width: 100%;
    }
  }
}
