@use "react-paragon-topaz/src/index.scss";

header.header {
  background-color: var(--pgn-color-secondary-base);
}

footer.footer {
  flex-direction: column;
  justify-content: center;
  list-style: none;

  .container-fluid {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 10px;
        
        a {
          color: var(--pgn-color-primary-base) !important;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
}
