@import "react-paragon-topaz/src/variables.scss";
@import "@edx/brand/paragon/fonts.scss";
@import "@edx/brand/paragon/variables.scss";
@import "@edx/paragon/scss/core/core.scss";
@import "@edx/brand/paragon/overrides.scss";
@import "~@edx/frontend-component-footer/dist/footer";
@import 'assets/variables';
@import "react-paragon-topaz/src/styles/Pagination/Pagination.scss";

header.header {
  background-color: $primary-900;
}

footer.footer {
  flex-direction: column;
  justify-content: center;
  list-style: none;

  .container-fluid {
    display: flex;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;

      li {
        margin-left: 10px;
        
        a {
          color: $background-color-purple !important;
        }
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: center;
  }
}
